div.card-header {
    font-size: large;
    font-weight: bold;
}
body {
    background-image: url("images/daniel-chen-546446-unsplash.jpg") !important;
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}